<nz-table #sortTable [nzData]="data" [nzLoading]="!loaded" nzTableLayout="auto">
  <thead>
  <tr>
    <th *ngFor="let column of columns" [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data">
    <td>{{ data.uuid }}</td>
    <td>{{ data.operation }}</td>
    <td>{{ data.success }}</td>
    <button nz-button [nzType]="'primary'" (click)="showOutputModal(data.output)"><span>Show Modal</span></button>
    <td>{{ data.completeTime }}</td>
  </tr>
  </tbody>
</nz-table>

