<nz-table #sortTable [nzData]="data" [nzLoading]="!loaded" nzTableLayout="auto">
  <thead>
  <tr>
    <th *ngFor="let column of columns" id="{{column.title}}}" [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority">{{ column.title }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data">
    <td>{{ data.uuid }}</td>
    <td>{{ data.operation }}</td>
    <td>{{ data.success }}</td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="showInputModal(data.input)"><span>Show Input</span></button>
    </td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="showOutputModal(data.output)"><span>Show Output</span></button>
    </td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="showClientModal(data.client)"><span>Show Client</span></button>
    </td>
    <td>{{ data.startTime }}</td>
    <td>{{ data.completeTime }}</td>
  </tr>
  </tbody>
</nz-table>

