<ul nz-menu nzTheme="light" class="sider-menu" nzMode="inline">
  <li nz-menu-item><a [routerLink]="[{outlets: { content: ['architecture'] } }]">Architecture</a></li>
  <li nz-menu-item><a [routerLink]="[{outlets: { content: ['prescription-reporting'] } }]">Prescription Recording</a></li>
  <li nz-menu-item><a [routerLink]="[{outlets: { content: ['acknowledgements'] } }]">Acknowledgements</a></li>
  <li nz-menu-item><a [routerLink]="[{outlets: { content: ['spring-boot-starter-cope'] } }]">Spring Boot Starter</a></li>
</ul>
