<div nz-row nzAlign="middle" style="margin-left: 2em">
  <div nz-col nzFlex="3">
    <h1>COPE</h1>
    <p>
      COPE (Centralized Opioid Prescription Environment) is a product focused on creating a national database of opioid
      prescriptions.
    </p>

    <p style="color: red; font-weight: bold">
      At this stage COPE is in an early alpha phase and should only be used for TEST data in order to evaluate COPE for your
      enterprise or software.
    </p>

    <h2>What COPE is</h2>
    <ul>
      <li>A national database to store prescription data</li>
      <li>A way to view and access prescriptions to view national prescription</li>
      <li>Software as a Service provided to localized Prescription Drug Monitoring Programs (PDMPs) to combine
        prescription data from multiple localizations.
      </li>
      <li>A set of libraries written in multiple technologies that can aid PDMPs in easily and seamlessly onboarding to COPE</li>
    </ul>

    <h2>What COPE is not</h2>
    <ul>
      <li>A patient portal</li>
      <li>A prescription requesting or ordering service</li>
      <li>A punitive system providing data to any law enforcement agencies.  COPE believes that addiction recovery can
        stay between a patient and their team of healthcare providers, unless legally required, patient information will
        never be shared to any law enforcement agencies</li>
    </ul>

    <h2>Who COPE is for</h2>
    <ul>
      <li>Prescribers - Allowing access to national prescriptions for patients to identify and prevent overprescribing
        of opioids
      </li>
      <li>Pharmacies - Allowing access to national prescriptions for clients of your pharmacy to aid in requirements patients to identify overprescription</li>
      <li>Society - By identifying overprescriptions </li>
      <li>Health Departments - Both local and national health departments will be provided with <em>anonymized</em> data to aid in predicting and understanding the behavior of the opioid epidemic</li>
    </ul>

    <h2>COPE Enhancements for Future</h2>
    <ul>
      <li>Providing data to interoperability resources such as FHIR</li>
      <li>Machine learning and statistical models to aid in identifying overprescription and to gain understanding of the opioid epidemic</li>
      <li>Enhanced dashboard functionality</li>
    </ul>
  </div>
</div>
